@import "~@angular/material/theming";

.header {
  background-color: mat-color($mat-indigo, 500);
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding: 32px;
}

.main {
  padding: 0 16px;
}

.footer {
  background-color: #3f5150;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  text-align: center;
}
