@import "../../../styles.scss";

.container {
  display: flex;
  justify-content: center;

  &--is-loading {
    align-items: center;
    height: 100vw;
  }
}

@include desktop {
  .news {
    max-width: $max-width;
  }
}
